.c1{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c2{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c3{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c4{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c5{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c6{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c7{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c8{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c9{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c10{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c11{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c12{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c13{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}



.c14{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c15{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c16{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c17{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c18{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c19{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(148, 197, 133);
    
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

*{
    background-color: rgb(157, 209, 251);
}